<tr id="<%= dom_id(house) %>">
  <td class="px-4 py-3 text-sm text-gray-700"><%= house.name %></td>
  <td class="px-4 py-3 text-sm text-gray-700"><%= house.state %></td>
  <td class="px-4 py-3 text-sm text-gray-700"><%= house.country %></td>
  <td class="px-4 py-3 text-sm text-gray-700"><%= house.city %></td>
  <td class="px-4 py-3 text-sm text-gray-700"><%= house.address %></td>
  <td class="px-4 py-3 text-sm text-gray-700"><%= house.shortname %></td>
  <td class="px-4 py-3 text-sm text-gray-700"><%= house.code %></td>
  <td class="px-4 py-3 text-sm text-gray-700"><%= house.email %></td>
</tr>