<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon', type: 'image/x-icon' %>
  <title><%= yield(:title) %></title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <%= stylesheet_link_tag 'application', media: "all", "data-turbo-track": "reload" %>
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <%= yield(:head) %>
  <%= javascript_importmap_tags %>
</head>
<body class="text-gray-800">

<div class="fixed top-4 right-4 z-50 w-full max-w-sm space-y-2">
  <% flash.each do |type, msg| %>
    <% shadow_color_class = case type %>
  <% when 'notice' then 'shadow-yellow-500/50' %>
    <% when 'alert'  then 'shadow-red-500/50' %>
    <% else 'shadow-gray-300' %>
    <% end %>

    <div class="bg-white rounded-lg p-4 flex items-center justify-between animate-fade-in-down <%= shadow_color_class %>" role="alert" style="box-shadow: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);" data-controller="flash-message">
      <div class="flex items-center">
        <% if type == 'notice' %>
          <i class="fas fa-exclamation-circle text-yellow-500 mr-2"></i>
        <% elsif type == 'alert' %>
          <i class="fas fa-exclamation-triangle text-red-500 mr-2"></i>
        <% else %>
          <i class="fas fa-info-circle text-blue-500 mr-2"></i>
        <% end %>
        <p class="text-sm font-medium text-gray-700"><%= msg %></p>
      </div>
      <button class="ml-4 p-1 rounded-full text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" aria-label="Cerrar" onclick="this.closest('[role=alert]').remove()">
        <i class="fas fa-times"></i>
      </button>
    </div>
  <% end %>
</div>

<%= yield %>

<script>
  function hideMessage() {
    const messageBox = document.getElementById('message-box');
    if (messageBox) {
      messageBox.classList.add('hidden');
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    const messageBox = document.getElementById('message-box');
    // Solo activar el temporizador si el cuadro de mensaje es visible
    if (messageBox && !messageBox.classList.contains('hidden')) {
      setTimeout(() => {
        hideMessage();
      }, 5000); // 5000 milisegundos = 5 segundos
    }
  });
</script>
</body>
</html>